body {
    font-family: sans-serif;
}

header {
    text-align: end;
}

.products {
    text-align: center;
}

.product-item {
    margin: 30px 100px 30px 100px;
    padding: 10px;
    border: 2px solid;
    border-radius: 50px;
    border-color: antiquewhite;

}